@import "variables";

.sport_app__section2 {
  background-color: #00ADEE;
  color: $color_text;
  background-image: url(../webroot/images/background_blue_rectangles.svg);
  font-size: 28px;
  font-family: lato-light;
}
