@import "variables";

.sport_app__section1 {
  font-size: $font_size;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/background_friendly_user_interface.png);
  background-position: 400px 80%;
  height: 716px;


}

.sport_app__section1--title,
.sport_app__section1--learn{
  color: #00ADEE;
   @include reset-anchore
}

.sport_app__section1--title {
  text-transform: uppercase;
  font-family: lato-bold
}
.sport_app__section_container {
  max-width: 500px;
  margin-inline-start: $margin-start * 10;;
}

.sport_app__section1--subtitle {
  font-family: lato-bold;
  font-size: 2rem;
}
.sport_app__section1--learn {
  font-family: lato-bold;
}

@media (max-width: 360px) {

  .sport_app__section1 {
    text-align: center;
  }
  .sport_app__section_container {
    margin-inline-start: 0;
    background-size: 70%;
    background-image: url(../images/background_friendly_user_interface.png);
  }

}
