@import "variables";

.sport_app__section3--list {
  display: flex;
  margin-inline-start: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0;



}



.link_sport_tv{background-image: url(../images/logo_sports_tv.svg); @include background-set; @include indent;}
.link_sport{background-image: url(../images/logo_sports_channel.svg);  @include background-set; @include indent;}
.link_sport__nbc{background-image: url(../images/logo_nbc_sports.svg);  @include background-set; @include indent;}
.link_sport__designer{background-image: url(../images/logo_designer_technology.svg);  @include background-set; @include indent;}
.link_sport__news{background-image: url(../images/logo_designer_news.svg);  @include background-set; @include indent;}
.link_sport__sky{background-image: url(../images/logo_sky_sports.svg);  @include background-set; @include indent;}



.sport_app__section3--anchor {
  text-decoration: none;
  @include indent;
  height : 3rem;


}

.sport_app__section3--link {
  list-style: none;
  margin: auto;




}

.link_sport__news,
.link_sport__designer,
.link_sport__nbc {
  display: flex;
  flex-basis: 30%;
  width: 5rem;
}

.sport_app__section3--title {
  text-align: center;
}

.link_sport_tv,
.link_sport {
  flex-basis: 50%;
  width: 8rem;
}
.link_sport__sky {
  flex-basis: 100%;
  width: 15rem;
  margin-block-start: 1rem;
}

.sport_app__section3 {
background-color:  #FAFAFA;
padding-block-start: 1rem;
padding-block-end: 1rem;
}
// .sport_app__section3 {
//   text-align: center;
//   flex-direction: column;
// }


@media (min-width: 1000px) {
  .sport_app__section3{
  margin-inline-start: $margin-start * 5;
  }
  .sport_app__section3 {
   background-color:  white;
  }
}
// .sport_app__section3 {
//   background-color:  #FAFAFA;
//   padding-bottom: $padding;
//   padding-top: $padding;
// }

// .sport_app__section3--title {
//    text-align: center;

// }

// .sport_app__section3--link {
//   @include reset-list;
//   padding: $padding;

// }

// .sport_app__section3--anchor {
//   text-decoration: none;
//   @include indent;
//   height : 3rem;

// }


// }
