@import "variables";


.sports_app__footer--anchore,
.sports_app__footer--anchore2 {
  @include reset-anchore;
   color: white;
   height: 2rem;
   width: 2rem;
}



.sports_app__footer--link {
  @include reset-list;


}

footer{
  background-color:  #00ADEE;
  max-height: 300px;
  font-size: 16px;
  margin-inline-start: 0;



}

.sport_app_twitter{background-image: url(../images/icon_twitter.svg); @include background-set; @include indent;}
.sport_app_facebook{background-image: url(../images/icon_facebook.svg);  @include background-set; @include indent;}
.sport_app_histogram{background-image: url(../images/icon_instagram.svg);  @include background-set; @include indent;}

svg {
  padding: 0.5rem;
  inline-size: 40%;
}


.sports_app__footer--list {
  display: flex;
  padding-inline-start: 1rem;
}

.sports_app__footer--listsecond {
  display: flex;
  margin: $margine;
  padding-bottom: $padding;
  padding-inline-start: 0;



}

.sports_app__footer--anchore2 {
  font-size: 1rem;
  margin-right: $margine;
}


@media (min-width: 1000px){
footer{
  background-color:  #00ADEE;
  max-height: 125px;
  display: flex;


}

footer >.sport_logo__sign {
  color: white;
}

.sports_app__footer--anchore,
.sports_app__footer--anchore2 {
  @include reset-anchore;
   color: white;
   height: 2rem;
   width: 2rem;
}

.sports_app__footer--link {
  @include reset-list;


}

svg {
  padding: 2.5rem;
  margin-inline-start: 7.5rem;
}

.sports_app__footer--list {
  display: flex;
}

.sports_app__footer--listsecond {
  display: flex;


}
.sport_app_secondlink {
   margin: 1rem;

}

.sports_app__footer--navigation {
  float: right;
  padding: 16px;;

}
.sports_app_container {
  display: flex;

}

.sports_app__footer--anchore {
  margin: 1rem;

}
.sport_app_secondlink {
  padding-block-end: $padding * 10;
  padding-block-start: $padding;
}
.sports_app_container {
  display: flex;
  flex-direction: row-reverse;
}

}
