

.sport_app__section2 {
  font-size: 16px;
}


  .link_tv{background-image: url(../images/icon_video_blue.svg); @include background-set; @include indent;}
  .link_bell{background-image: url(../images/icon_bell_ringing_blue.svg);  @include background-set; @include indent;}
  .link_hd{background-image: url(../images/icon_hd_blue.svg);  @include background-set; @include indent;}
  .link-flag{background-image: url(../images/icon_flag_blue.svg);  @include background-set; @include indent;}
  .link-phone{background-image: url(../images/icon_tent_blue.svg);  @include background-set; @include indent;}
  .link-bar{background-image: url(../images/icon_graph_blue.svg);  @include background-set; @include indent;}

  .sport_app__section2--navigation {
    grid-template-columns: none;

  }

  .link_tv,
  .link_bell,
  .link_hd,
  .link-flag,
  .link-phone,
  .link-bar {
    height: 48px;
    background-position: 50% 50%;

  }
  .sport_app__section2--list {
    padding: $padding * 3;
  }


  .sport_app__section2 {
    background-color: #FAFAFA;
    text-align: center;
    padding-bottom: $padding;
    padding-top: $padding;

  }
 .sport_app_section2_container{
 margin-inline-end: $margine;
}
  .sport_app__section2--list {
    @include reset-list;


  }

  span {
    display: none
  }


@media (min-width: 1000px) {

@import "variables";

.sport_app__section2 {
  background-color: #00ADEE;
  color: $color_text;
  background-image: url(../images/background_blue_rectangles.svg);
  font-size: 28px;
  font-family: lato-light;
  @include background-set;
  text-align : left;
}

.sport_app__section2--tiltle {
  text-align: center;
}

.sport_app_section2_container {
  padding-block-start: $padding-end;
  margin-inline-start: $margin-start * 5;



}

 .link_tv,
  .link_bell,
  .link_hd,
  .link-flag,
  .link-phone,
  .link-bar {
    height: 48px;
    background-position: 0% 50%;

  }


.sport_app__section2--anchore {
  @include reset-anchore;


}

.link_tv{background-image: url(../images/icon_video_white.svg); @include background-set; @include indent;}
.link_bell{background-image: url(../images/icon_bell_ringing_white.svg);  @include background-set; @include indent;}
.link_hd{background-image: url(../images/icon_hd_white.svg);  @include background-set; @include indent;}
.link-flag{background-image: url(../images/icon_flag_white.svg);  @include background-set; @include indent;}
.link-phone{background-image: url(../images/icon_tent_white.svg);  @include background-set; @include indent;}
.link-bar{background-image: url(../images/icon_graph_white.svg);  @include background-set; @include indent;}

.sport_app__section2--paragraph {
  font-size: $font_size;
}

.sport_app__section2--navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-right: $padding * 10;
}
.sport_app__section2--list {
  list-style: none;
}

  span {
    display: block
  }

  .sport_app__section2--paragraph::before {
   content: '●';
  }

 }




