@import "variables";

.sport_app__section3--list {
  display: flex;
}


.link_sport_tv{background-image: url(../images/logo_sports_tv.svg); @include background-set; @include indent;}
.link_sport{background-image: url(../images/logo_sports_channel.svg);  @include background-set; @include indent;}
.link_sport__nbc{background-image: url(../images/logo_nbc_sports.svg);  @include background-set; @include indent;}
.link_sport__designer{background-image: url(../images/logo_designer_technology.svg);  @include background-set; @include indent;}
.link_sport__news{background-image: url(../images/logo_designer_news.svg);  @include background-set; @include indent;}
.link_sport__sky{background-image: url(../images/logo_sky_sports.svg);  @include background-set; @include indent;}



.sport_app__section3--anchor {
  text-decoration: none;
  @include indent;
  height : 3rem;
  width: 10rem;

}

.sport_app__section3--link {
  padding: $padding;
  list-style: none;


}

.sport_app__section3--title {
  text-align: center;
}

// .sport_app__section3 {
//   text-align: center;
//   flex-direction: column;
// }


// @media (min-width: 1000px) {


// .sport_app__section3 {
//   background-color:  #FAFAFA;
//   padding-bottom: $padding;
//   padding-top: $padding;
// }

// .sport_app__section3--title {
//    text-align: center;

// }

// .sport_app__section3--link {
//   @include reset-list;
//   padding: $padding;

// }

// .sport_app__section3--anchor {
//   text-decoration: none;
//   @include indent;
//   height : 3rem;

// }


// }
