@import "variables";

header {
  background-color: #F4F6F9;
  text-align: center;

}
body {
  margin: 0;
  font-family: lato-light;
}

@media (min-width: 1000px){
 html {
   margin-top: 0;
 }

 header {
   text-align: left;
 }


 body {
   font-family: lato-light;
   margin-inline-end: 0;
   margin-top: 0;
 }
:root {
    --margin-for-inline: 20px;
}


header {
    padding-left: $padding * 0;
    padding-right: $padding * 0;
    background-color: $background-app;
    font-family: lato-light;
    margin: $margine * 0;
    font-size: $font_size;
    height: 400px;
}

header {
    min-height: $min-height;
    background-image: url(../images/sport_app_background.png);
    background-position: 650px 0%;
    background-repeat: no-repeat;

}
.sport_app {
  max-width: $max-width-para;
  margin-inline-end: $margin-start * 0;
  margin-inline-start: $margin-start * 10;

}
.sport_app_container{
  max-width: $max-width-contain;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

}
