h1 {
    padding-block-start: $padding * 3;
    padding-block-end: $padding * 3;
    font-size: small;
    margin: $margine * 0 ;
}

.sport_logo__app--title {
    font-family: lato-bold;
    font-weight: 700;
}

.sport_logo__app--title {
    max-width: 380px;
}
