:root {
    --margin-for-inline: 20px;
}

html {
    background-color: #E5E5E5;
}

body {
    padding-left: 0;
    padding-right: 0;
    background-color: #F4F6F9;
    font-family: lato-light;
    margin: 0;
}

header {
    margin-inline-start: calc(var(--margin-for-inline) * 5);
    min-height: 600px;
    background-image: url(../images/sport_app_bacground.png);
    background-position: 380px 20%;
    background-repeat: no-repeat;

}

@media (max-width: 360px) {
    header {
        background-image: none;
        margin-inline-start: 1rem;
        margin-inline-end: 1rem;
        text-align: center;
    }
    .sport_app__link--list {
        background-size: 20%;
    }
}
