  @import "variables";

  .sport_logo__sign {
    background-image: url(../images/ball.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-bottom: 60px;
    margin-left: $margine * 0;
    margin-right: $margine * 0;
    padding: $padding;
    background-position: 20%;
    font-size: 1.5rem;
    padding: $padding * 3;
  }

  .sport_logo__sign {
    font-family: lobster;
    text-decoration: none;
  }


  @media (min-width : 1000px){

        .sport_logo__sign {
            text-decoration: none;
            font-family: lobster;
            background-size: 20%;
            background-position: 3%;
            padding-bottom: 60px;
            margin-left: $margine * 0;
            margin-right: $margine * 0;
            padding: $padding;
            font-size: 1rem;
        }

      }

