@import "variables";

.sport_app__section1 {
  font-family: lato-light;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: $text-align;
  background-image: url(../webroot/images/background_friendly_user_interface.png);

}


