@import "variables";



.sport_app__downloading {
    background-image: url('../images/apple_store.svg');
    background-size: contain;
    background-repeat: no-repeat;
     margin-inline-start: 1rem;
}

.sport_app__downloading--google {
    background-image: url('../images/google_play.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.sport_app__downloading,
.sport_app__downloading--google {
    display: block;
    text-indent: -999px;
    width: 100px;
    height: 40px;
    margin-block-end: 1rem;

}

.sport_app__link {
    list-style: none;
}

.sport_app__list--anchor {
    text-decoration: none;
}

.sport_app__link {
    display: flex;
    padding-inline-start: 0;
}

.sport_app__link--list {
    list-style: none;
}

.sport_app__list--anchor {
    text-decoration: none;
    margin-top: 1rem;
    margin-right: 16px;

}
@media (min-width: 1000px) {
    .sport_app__downloading,
    .sport_app__downloading--google {
        display: block;
        text-indent: -999px;
        width: 120px;
        height: 44px;

    }


.sport_app__downloading,
.sport_app__downloading--google {
    width: 156px;
    margin-left: 0;
}

}
