  @import "variables";

        .sport_logo__sign {
            text-decoration: none;
        }

        .sport_logo__sign {
            background-image: url(../images/ball.png);
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 2%;
            padding-bottom: 60px;
            margin-left: $margine * 0;
            margin-right: $margine * 0;
            padding: $padding
        }

        .sport_logo__sign {
            font-family: lobster;
        }

        @media (max-width: 360px) {
            .sport_logo__sign {
                background-position: 20%;
                font-size: 2rem;
                background-size: 15%;
                padding: $padding * 5;
            }
        }
