@font-face {
    font-family: lato-light;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/sport-lato-light.woff) format('woff');
}

@font-face {
    font-family: lato-bold;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/sport-lato-bold.woff) format('woff');
}

@font-face {
    font-family: lobster;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/lobster_font_bold.woff);
}
