@charset "UTF-8";
@font-face {
  font-family: lato-light;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/sport-lato-light.woff) format("woff"); }

@font-face {
  font-family: lato-bold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/sport-lato-bold.woff) format("woff"); }

@font-face {
  font-family: lobster;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/lobster_font_bold.woff); }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_logo__sign {
  background-image: url(../images/ball.png);
  background-repeat: no-repeat;
  background-size: 20px;
  padding-bottom: 60px;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 1rem;
  background-position: 20%;
  font-size: 1.5rem;
  padding: 3rem; }

.sport_logo__sign {
  font-family: lobster;
  text-decoration: none; }

@media (min-width: 1000px) {
  .sport_logo__sign {
    text-decoration: none;
    font-family: lobster;
    background-size: 20%;
    background-position: 3%;
    padding-bottom: 60px;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 1rem;
    font-size: 1rem; } }

h1 {
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  font-size: small;
  margin: 0rem; }

.sport_logo__app--title {
  font-family: lato-bold;
  font-weight: 700; }

.sport_logo__app--title {
  max-width: 380px; }

.sport_logo__app--information {
  max-width: 22.25rem;
  font-family: lato-light; }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_app__downloading {
  background-image: url("../images/apple_store.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-inline-start: 1rem; }

.sport_app__downloading--google {
  background-image: url("../images/google_play.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.sport_app__downloading,
.sport_app__downloading--google {
  display: block;
  text-indent: -999px;
  width: 100px;
  height: 40px;
  margin-block-end: 1rem; }

.sport_app__link {
  list-style: none; }

.sport_app__list--anchor {
  text-decoration: none; }

.sport_app__link {
  display: flex;
  padding-inline-start: 0; }

.sport_app__link--list {
  list-style: none; }

.sport_app__list--anchor {
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 16px; }

@media (min-width: 1000px) {
  .sport_app__downloading,
  .sport_app__downloading--google {
    display: block;
    text-indent: -999px;
    width: 120px;
    height: 44px; }
  .sport_app__downloading,
  .sport_app__downloading--google {
    width: 156px;
    margin-left: 0; } }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  background-color: #F4F6F9;
  text-align: center; }

body {
  margin: 0;
  font-family: lato-light; }

@media (min-width: 1000px) {
  html {
    margin-top: 0; }
  header {
    text-align: left; }
  body {
    font-family: lato-light;
    margin-inline-end: 0;
    margin-top: 0; }
  :root {
    --margin-for-inline: 20px; }
  header {
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: #E5E5E5;
    font-family: lato-light;
    margin: 0rem;
    font-size: 16px;
    height: 400px; }
  header {
    min-height: 600px;
    background-image: url(../images/sport_app_background.png);
    background-position: 650px 0%;
    background-repeat: no-repeat; }
  .sport_app {
    max-width: 546px;
    margin-inline-end: 0rem;
    margin-inline-start: 10rem; }
  .sport_app_container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto; } }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_logo__sign {
  color: #5282F0; }

.sport_logo__app--title {
  color: #333333; }

.sport_logo__app--information {
  color: #4F4F4F; }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_app__section1 {
  font-size: 16px;
  background-size: 100%;
  background-position: 400px 80%;
  text-align: center; }

.sport_app__section1--title,
.sport_app__section1--learn {
  color: #00ADEE;
  text-decoration: none; }

.sport_app__section1--title,
.sport_app__section1--learn {
  color: #00ADEE;
  text-decoration: none; }

.sport_app__section1--title {
  text-transform: uppercase;
  font-family: lato-bold; }

.sport_app__section1--subtitle {
  font-family: lato-bold;
  font-size: 2rem; }

.sport_app__section1--learn {
  font-family: lato-bold; }

@media (min-width: 1000px) {
  .sport_app__section1 {
    font-size: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/background_friendly_user_interface.png);
    background-position: 400px 80%;
    height: 716px; }
  .sport_app__section1 {
    text-align: left; }
  .sport_app__section1--title,
  .sport_app__section1--learn {
    color: #00ADEE;
    text-decoration: none; }
  .sport_app__section1--title {
    text-transform: uppercase;
    font-family: lato-bold; }
  .sport_app__section_container {
    max-width: 500px;
    margin-inline-start: 10rem; }
  .sport_app__section1--subtitle {
    font-family: lato-bold;
    font-size: 2rem; }
  .sport_app__section1--learn {
    font-family: lato-bold; }
  img {
    display: none; } }

.sport_app__section2 {
  font-size: 16px; }

.link_tv {
  background-image: url(../images/icon_video_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_bell {
  background-image: url(../images/icon_bell_ringing_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_hd {
  background-image: url(../images/icon_hd_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link-flag {
  background-image: url(../images/icon_flag_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link-phone {
  background-image: url(../images/icon_tent_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link-bar {
  background-image: url(../images/icon_graph_blue.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.sport_app__section2--navigation {
  grid-template-columns: none; }

.link_tv,
.link_bell,
.link_hd,
.link-flag,
.link-phone,
.link-bar {
  height: 48px;
  background-position: 50% 50%; }

.sport_app__section2--list {
  padding: 3rem; }

.sport_app__section2 {
  background-color: #FAFAFA;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.sport_app_section2_container {
  margin-inline-end: 1rem; }

.sport_app__section2--list {
  margin: 0;
  padding: 0;
  list-style: none; }

span {
  display: none; }

@media (min-width: 1000px) {
  .sport_app__link--list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .sport_app__section2 {
    background-color: #00ADEE;
    color: white;
    background-image: url(../images/background_blue_rectangles.svg);
    font-size: 28px;
    font-family: lato-light;
    background-repeat: no-repeat;
    display: block;
    text-align: left; }
  .sport_app__section2--tiltle {
    text-align: center; }
  .sport_app_section2_container {
    padding-block-start: 1rem;
    margin-inline-start: 10rem; }
  .link_tv,
  .link_bell,
  .link_hd,
  .link-flag,
  .link-phone,
  .link-bar {
    height: 48px;
    background-position: 0% 50%; }
  .sport_app__section2--anchore {
    text-decoration: none; }
  .link_tv {
    background-image: url(../images/icon_video_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .link_bell {
    background-image: url(../images/icon_bell_ringing_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .link_hd {
    background-image: url(../images/icon_hd_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .link-flag {
    background-image: url(../images/icon_flag_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .link-phone {
    background-image: url(../images/icon_tent_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .link-bar {
    background-image: url(../images/icon_graph_white.svg);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .sport_app__section2--paragraph {
    font-size: 16px; }
  .sport_app__section2--navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-right: 10rem; }
  .sport_app__section2--list {
    list-style: none; }
  span {
    display: block; }
  .sport_app__section2--paragraph::before {
    content: 'â—'; } }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sport_app__section3--list {
  display: flex; }

.link_sport_tv {
  background-image: url(../images/logo_sports_tv.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_sport {
  background-image: url(../images/logo_sports_channel.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_sport__nbc {
  background-image: url(../images/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_sport__designer {
  background-image: url(../images/logo_designer_technology.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_sport__news {
  background-image: url(../images/logo_designer_news.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.link_sport__sky {
  background-image: url(../images/logo_sky_sports.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.sport_app__section3--anchor {
  text-decoration: none;
  text-indent: -9999px;
  height: 3rem;
  width: 10rem; }

.sport_app__section3--link {
  padding: 1rem;
  list-style: none; }

.sport_app__section3--title {
  text-align: center; }

.sport_app__link--list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sports_app__footer--anchore,
.sports_app__footer--anchore2 {
  text-decoration: none;
  color: white;
  height: 2rem;
  width: 2rem; }

.sports_app__footer--link {
  margin: 0;
  padding: 0;
  list-style: none; }

footer {
  background-color: #00ADEE;
  max-height: 300px;
  font-size: 16px;
  margin-inline-start: 0; }

.sport_app_twitter {
  background-image: url(../images/icon_twitter.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.sport_app_facebook {
  background-image: url(../images/icon_facebook.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

.sport_app_histogram {
  background-image: url(../images/icon_instagram.svg);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px; }

svg {
  padding: 0.5rem;
  inline-size: 40%; }

.sports_app__footer--list {
  display: flex;
  padding-inline-start: 1rem; }

.sports_app__footer--listsecond {
  display: flex;
  margin: 1rem;
  padding-bottom: 1rem;
  padding-inline-start: 0; }

.sports_app__footer--anchore2 {
  font-size: 1rem;
  margin-right: 1rem; }

@media (min-width: 1000px) {
  footer {
    background-color: #00ADEE;
    max-height: 125px;
    display: flex; }
  footer > .sport_logo__sign {
    color: white; }
  .sports_app__footer--anchore,
  .sports_app__footer--anchore2 {
    text-decoration: none;
    color: white;
    height: 2rem;
    width: 2rem; }
  .sports_app__footer--link {
    margin: 0;
    padding: 0;
    list-style: none; }
  svg {
    padding: 2.5rem;
    margin-inline-start: 7.5rem; }
  .sports_app__footer--list {
    display: flex; }
  .sports_app__footer--listsecond {
    display: flex; }
  .sport_app_secondlink {
    margin: 1rem; }
  .sports_app__footer--navigation {
    float: right;
    padding: 16px; }
  .sports_app_container {
    display: flex; }
  .sports_app__footer--anchore {
    margin: 1rem; }
  .sport_app_secondlink {
    padding-block-end: 10rem;
    padding-block-start: 1rem; }
  .sports_app_container {
    display: flex;
    flex-direction: row-reverse; } }
