:root {
    --margin-for-block-start: 40px;
    --margin-for-block-end: 59px;
    --margin-for-inline: 20px;
}

html {
    background-color: #E5E5E5;
}

body {
    margin-block-start: var(--margin-for-inline);
    margin-block-end: var(--margin-for-block-end);
    padding-left: 0;
    padding-right: 0;
    background-color: #F4F6F9;
    font-family: lato-light;
}

header {
    margin-inline-start: var(--margin-for-inline);
    min-height: 600px;
    background-image: url(../images/sport_app_examples.png);
    background-position: 365px 30%;
    background-repeat: no-repeat;
}


/* .sport_logo_app__heading,
.sport_logo_app--more_information  */

.sport_logo_ball {
    font-family: lobster;
    padding-top: 30px;
    margin-left: 91px;
    margin-right: 83px;
}

.sport_logo_app__heading {
    font-family: lato-bold;
}

.sport_logo_app--more_information {
    font-family: lato-light;
}
