        .sport_logo__sign {
            text-decoration: none;
        }

        .sport_logo__sign {
            background-image: url(../images/ball.png);
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 2%;
            padding-bottom: 60px;
            margin-left: 0;
            margin-right: 0;
            padding: 2rem;
        }

        .sport_logo__sign {
            font-family: lobster;
            /* padding-top: 1rem; */
        }

        @media (max-width: 360px) {
            .sport_logo_ball {
                background-position: 20%;
                font-size: 49px;
                background-size: 15%;
                padding: 6rem;
            }
        }
