.sport_app__link--list {
    list-style: none;
}

.sport_app__list--anchor {
    text-decoration: none;
}

.anchor_on_google,
.anchor_on_app {
    display: block;
    text-indent: -999px;
    width: 145.65px;
    height: 44px;
}

.anchor_on_app {
    background-image: url('../images/apple_store.svg');
    background-size: contain;
}

.anchor_on_google {
    background-image: url('../images/google_play.svg');
    background-size: contain;
}

.sport_app__link--list {
    display: flex;
    padding-inline-start: 0;
}

.sport_app__list {
    list-style: none;
}

.sport_app__list--anchor {
    text-decoration: none;
    margin-top: 1rem;
    margin-right: 1rem;
}

h1 {
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    font-size: small;
}

.sport_logo_app--more_information {
    margin-inline-end: 1rem;
}

header {
    margin-inline-start: 100px;
}

.sport_app__information--image {
    display: block;
    width: 50%;
}

.sport_logo_app__heading {
    font-weight: 700;
}

.sport_logo__app--title,
.sport_logo_app--more_information {
    max-width: 546px;
}

@media (max-width: 360px) {
    header {
        background-image: none;
        margin-inline-start: 16px;
        text-align: center;
    }
    .sport_app__link--list {
        flex-wrap: wrap;
    }
}
