h1 {
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    font-size: small;
    margin: 0;
}

.sport_logo__app--title {
    font-family: lato-bold;
    font-weight: 700;
}

.sport_logo__app--title {
    max-width: 380px;
}
